@import url("https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&family=Open+Sans&family=Raleway&family=Roboto&family=Rubik&display=swap");
@import "./custom";

// $font-family: 'Baloo Thambi 2', cursive;
// $font-family: 'Open Sans', sans-serif;
$Raleway: "Raleway", sans-serif;
$Roboto: "Roboto", sans-serif;

// $font-Rubik: "Rubik", sans-serif;

// components
@import "./variable";
@import "./mixin";
@import "./responsive";
@import "./component/button.scss";

// sections
@import "./Sections/diff";
@import "./Sections/header";
@import "./Sections/courses";
@import "./Sections/action";
@import "./Sections/testimonials";
@import "./Sections/footer";
@import "./Sections/modal";
@import "./Sections/about";
@import "./Sections/contact";
@import "./Sections/finance";
@import "./Sections/video";
@import "./Sections/header-about";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.rale {
  font-family: $Raleway;
}

.roboto {
  font-family: $Roboto;
}
