.header-about {
  // border: 2px solid orange;
  height: 580px !important;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.264), rgba(0, 0, 0, 0.251)),
    url("../img/aboutlogo.jpg") 50% 50% / 400px no-repeat !important;
  background-attachment: fixed !important;
}
