<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="./final/fontawesome.min.css?cd=1666542246153"
    />
    <link rel="stylesheet" href="./final/index.min.css?cd=1666542246153" />
    <title>Document</title>
  </head>
  <style>
    .error {
      text-align: center;
      color: crimson;
      margin-top: 5px;
      font-weight: bold;
      display: block;
    }
  </style>
  <body>
    <div class="wrapper">
      <h2>upload files</h2>
      <form action="" id="form">
        <i class="fa fa-cloud-upload"></i>
        <input id="file" type="file" name="files" hidden />
      </form>
      <div class="upload-file"></div>

      <div class="uploaded"></div>

      <div class="error"></div>
    </div>
    <script src="./final/jquery.3.4.1.js?cd=1666542246153"></script>
    <script src="./final/all.js?cd=1666542246153"></script>
    <script src="./final/main.js?cd=12"></script>
  </body>
</html>
