.primaryz-btn {
  text-decoration: none !important;
  list-style-type: none !important;
  list-style: none !important;
  appearance: none !important;
  color: $white;
  border-radius: 21px;
  @include paraMobile;
  font-weight: $font-w;

  letter-spacing: 3px;
  text-transform: capitalize;
  padding: 6px 19px;
  background: $accent-clr;
  background-clip: padding-box;
  display: inline-block;
  border: 1px solid $accent-clr;
  transition: all 0.3s ease-in-out;
  &:hover {
    border: 1px solid $accent-clr;
    background: transparent;
    color: $white;
  }
}
.secondaryz-btn {
  text-decoration: none !important;
  list-style-type: none !important;
  list-style: none !important;
  appearance: none !important;
  color: $white;
  border-radius: 21px;
  @include paraMobile;
  font-weight: $font-w;
  letter-spacing: 3px;
  text-transform: capitalize;
  padding: 6px 19px;
  background: $primary-clr;
  display: inline-block;
  border: 1px solid $secondary;
  transition: all 0.3s ease-in-out;
  &:hover {
    border: 1px solid $secondary;

    color: $secondary-clr;
    background: transparent;
  }
}
.trans-btn {
  text-decoration: none !important;
  list-style-type: none !important;
  list-style: none !important;
  appearance: none !important;
  color: $primary-clr;
  border-radius: 21px;
  @include paraMobile;
  font-weight: $font-w;
  letter-spacing: 3px;
  text-transform: capitalize;
  padding: 6px 19px;
  background: transparent;
  display: inline-block;
  border: 1px solid $primary-clr;
  transition: all 0.3s ease-in-out;
  &:hover {
    color: $white;
    background: $primary-clr;
    border: 1px solid $primary-clr;
  }
}
.trans2-btn {
  text-decoration: none !important;
  list-style-type: none !important;
  list-style: none !important;
  appearance: none !important;
  color: $accent-clr;
  border-radius: 21px;
  @include paraMobile;
  font-weight: $font-w;
  letter-spacing: 3px;
  text-transform: capitalize;
  padding: 6px 19px;
  background: transparent;
  display: inline-block;
  border: 1px solid $primary-clr;
  transition: all 0.3s ease-in-out;
  &:hover {
    color: $white;
    background: $accent-clr;
    border: 1px solid $accent-clr;
  }
}
.btnz-card {
  text-decoration: none !important;
  list-style-type: none !important;
  list-style: none !important;
  appearance: none !important;
  color: $white;
  // border-radius: 21px;
  margin-top: 35px;
  margin-right: auto;
  @include paraMobile;
  font-weight: $font-w;
  letter-spacing: 3px;
  text-transform: capitalize;
  padding: 3px 7px;
  background: $accent-clr;
  text-align: center;
  border-radius: 9px;
  display: block;
  border: 1px solid $accent-clr;
  transition: all 0.3s ease-in-out;
  &:hover {
    color: $accent-clr;
    background: transparent;
    border: 1px solid $accent-clr;
  }
}

.circle-btn {
  //   padding: 10px 10px;
  border-radius: 50%;
  display: grid;
  height: 50px;
  width: 50px;
  place-items: center;
  text-decoration: none !important;
  list-style-type: none !important;
  list-style: none !important;
  appearance: none !important;
  border: 2px solid $primary-clr;
  transition: all 0.3s ease-in-out;
  & > div {
    height: 30px;
    width: 30px;
    // border: 2px solid orange;
    & > img {
      width: 100%;
      height: 100%;
      //   object-fit: cover;
    }
  }
  &:hover {
    background: $primary-clr;
  }
}
